/* tmp */
.wrapper {
  width: 1400px;
  margin: 0 auto;
}
.margin {
  width: 90%;
  margin: 20px auto !important;

}
/* global */
.chart-container {
/*   width: 100%;
height: 100%;
display: flex; */
}
.chart-container > div {
      margin: 0 auto;
}
.chart-container .axis {
    min-width: 82px;
    width: 82px;
    height: 100%;
    margin-left: 3%;
}
/*
.chart-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
*/
.chart-container-divider {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

}
.chart-container-divider img{
  align-items: center;
}
.chart-container-divider .axis {
    min-width: 82px;
    width: 82px;
    height: 100%;
    margin-left: 5.7%;
}
.chart-container-divider > div {
  display: flex;
  justify-content: center;
  align-items: center;
}


.chart-container-group {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.chart-container-group .axis {
    min-width: 82px;
    width: 82px;
    height: 100%;
}

.chart-container-group > div{
  max-width: 222px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2px;
}
.chart-container-group > div:first-child {

}
.chart-container-group > div:last-child {
  margin-right: 3.4%;
}


/* -------------------Waterfall----------------------- */
.waterfall .highcharts-text-outline {
  stroke-width: 0;
}
.waterfall .labels {
  text-align: center;
  font-weight: 900;
  height: 65px;
}
.waterfall .labels.outside{
  color: #44b3c2;
}
.waterfall .labels .growing {
  position: absolute;
  bottom: 4px;
  left: 50%;
  z-index: -1;
  padding: 5px 0;
  background-color: #ecf0f7;
  border-radius: 3px;
}
.waterfall .labels .growing.plus {
  color: #55c398;
}
.waterfall .labels .growing.minus {
  color: #f1a94e;
}
.waterfall .highcharts-series {
  padding: 0 40px;
}
.waterfall .highcharts-tick {
  stroke-dasharray: 2;
}
.waterfall .highcharts-tick:nth-last-child(3), .highcharts-tick:nth-last-child(2){
  opacity: 0;
}

/* ------------------Gistogram------------------- */
.gistogram .highcharts-graph {
  stroke-width: 0;
}
.gistogram .highcharts-markers {
  visibility: hidden;
}
.gistogram .labels {
  position: relative;
  text-align: center;
  font-weight: 900;
  top: -5px;
}

.gistogram .labels .growing {
  position: absolute;
  bottom: -33px;
  z-index: -1;
  padding: 5px 0;
  background-color: #ecf0f7;
  border-radius: 3px;

}
.gistogram .labels .growing.plus {
  color: #55c398;
}
.gistogram .labels .growing.minus {
  color: #f1a94e;
}

.gistogram .highcharts-tick {
  stroke-dasharray: 2;
}
.gistogram .highcharts-tick:nth-last-child(3), .highcharts-tick:nth-last-child(2){
  opacity: 0;
}
.gistogram .highcharts-text-outline {
  display: none;
}

/* ------------------------------------------------- */
.gistogram-growthrate .highcharts-markers {
  visibility: hidden;
}

.gistogram-growthrate .highcharts-graph {
  stroke-width: 0;
}
.gistogram-growthrate .labels {
  position: relative;
  text-align: center;
  font-weight: 900;
  top: 15px;
}

.gistogram-growthrate .labels .growing {
  position: absolute;
  bottom: 14px;
  z-index: -1;
  padding: 5px 0;
  width: 58px;
  background-color: #ecf0f7;
  border-radius: 3px;

}
.gistogram-growthrate .labels .growing.plus {
  color: #55c398;
}
.gistogram-growthrate .labels .growing.minus {
  color: #f1a94e;
}

.gistogram-growthrate .highcharts-tick {
  stroke-dasharray: 2;
}

/*  ------------------Gistogram Arrows-------------- */
.gistogram-growthrate .arrow, .gistogram-divider-growthrate .arrow {
  position: relative;
}
.gistogram-growthrate .arrow .label, .gistogram-divider-growthrate .arrow .label{
  position: absolute;
  left: -14px;
  font-weight: 600;
}
.gistogram-growthrate .top.arrow .label, .gistogram-divider-growthrate .top.arrow .label{
  top: -26px;
  color: #55c398;
}
.gistogram-growthrate .bottom.arrow .label, .gistogram-divider-growthrate .bottom.arrow .label{
  top: 10px;
  color: #e45641;
}
.gistogram-growthrate .arrow .after, .gistogram-divider-growthrate .arrow .after {
  position: absolute;
  left: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #fff;
  border-top: 12px solid #fff;
}
.gistogram-growthrate .top.arrow .after, .gistogram-divider-growthrate .top.arrow .after {
  bottom: -20px;
  transform: rotate(-45deg);
}
.gistogram-growthrate .bottom.arrow .after, .gistogram-divider-growthrate .bottom.arrow .after {
  top: -20px;
  transform: rotate(135deg);
}

/*-------------------Gistogram header----------------------*/

.sales .header,  .volume .header, .price .header {
  position: absolute;
  z-index: 99;
  height: 26px;
  margin-top: -26px;
  border-radius: 5px 5px 0 0;
  text-align: center;
}
.sales .header{
  background-color: #f1a94e;
}
.volume .header {
  background-color: #e45641;
}
.price .header {
  background-color: #44b3c2;
}
.sales .header .icon, .volume .header .icon .price .header .icon {
  position: absolute;
  left: 0;
  width: 26px;
  height: 26px;
  float: left;
  line-height: 26px;
  background-position: center center;
  background-repeat: no-repeat;
}
.sales .header .icon {
  background-image: url(assets/sales.png);
}
.volume .header .icon {
  background-image: url(assets/volume.png);
}
.price .header .icon {
  background-image: url(assets/price.png);
}
.sales .header .text,  .volume .header .text, .price .header .text {
  font-family: sans-serif;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 26px;
}
.sales .header .corner, .volume .header .corner, .price .header .corner{
  float: right;
  position: relative;
}
.sales .header .corner:after, .volume .header .corner:after, .price .header .corner:after {
  content: '';
  position: absolute;
  right: 5px;
  top: 10px;
  border: 5px solid transparent;
  border-right: 5px solid #fff;
  border-bottom: 5px solid #fff;
  opacity: 0.5;
}

/* --------------------Gistogram-divider------------------------- */
.gistogram-divider .labels {
  text-align: center;
  font-weight: 900;
  position: relative;
  top: -5px;
}
.gistogram-divider .labels .growing {
  position: absolute;
  z-index: -1;
  bottom: -37px;
  padding: 5px 0;
  width: 58px;
  background-color: #ecf0f7;
  border-radius: 3px;

}
.gistogram-divider .labels .growing.plus {
  color: #55c398;
}
.gistogram-divider .labels .growing.minus {
  color: #f1a94e;
}

.gistogram-divider .highcharts-tick {
  stroke-dasharray: 2;
}

.sales .gistogram-divider .labels {
  color: #f1a94e;
}
.volume .gistogram-divider .labels {
  color: #e45641;
}
.price .gistogram-divider .labels {
  color: #44b3c2;
}

.gistogram-divider .highcharts-tick:nth-last-child(3), .highcharts-tick:nth-last-child(2){
  opacity: 0;
}
.highcharts-container {
  overflow: visible;
}
.gistogram-divider {
  overflow: visible !important;
}


/* ----------------gistogram-divider-growthrate--------------- */
.gistogram-divider-growthrate {
  overflow: visible !important;
}

.gistogram-divider-growthrate .labels {
  position: relative;
  text-align: center;
  font-weight: 900;
  top: 5px;
}

.sales .gistogram-divider-growthrate .labels {
  color: #f1a94e;
}
.volume .gistogram-divider-growthrate .labels {
  color: #e45641;
}
.price .gistogram-divider-growthrate .labels {
  color: #44b3c2;
}

/* ----------------divider-border-labels------------- */
.gistogram-divider .border-label, .gistogram-divider-growthrate .border-label {
  width: 65px;
  border-radius: 5px 5px 0 0;
  padding: 4px 0;
  position: absolute;
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
  top: 40px;
  color: #888e95;
}
.gistogram-divider .border-label.left, .gistogram-divider-growthrate .border-label.left  {
  left: -42px;
  transform: rotate(-90deg);
  background-color: #cfd5de;
}
.gistogram-divider .border-label.right, .gistogram-divider-growthrate .border-label.right {
  right: -42px;
  transform: rotate(90deg);
  background-color: #f9ddb8;
}

/* ------------------------------------------------- */
.c-changer__item a {
  display: block;
  width: 100%;
  height: 100%;
}
.c-graph-tabs {
  background-color: #fff;
  border-radius: 4px;
}
.c-graph-tabs__item {
  display: none;
}
.c-graph-tabs__item.c-graph-tabs__item--active {
  display: flex;
}